.navegador{
    position: fixed;
    z-index: 100;
    width: 100%;
}
.tamanoimg{
    height: 300px;
}
.red{
    position: fixed;
    top: 200px;
    z-index: 100;
    right: 0px;
    width: 50px;   
}
.redes{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 50px; 
}
#faceboock a{
    background-color: #1877f2;
}
.redes:hover{
    padding: 30px;
    text-align-last: center;
}
#instagram a{
    background-color:#c32aa3;    
}
#twitter a{
    background-color:#1da1f2;
}
#correo a{
    background-color: #ffb903;
}
#whatsapp a{
    background-color:  #25d366;
}

.fuente{
    font-family: 'Mr Dafoe', cursive;
    color: #fff;
}
.titulo{
    padding: 0px 0px 0px 50px;
}
.fondo{
    background-color: black;
}
.letra{
    color: #fff;
}


.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #fff;
    color: #20ba5a;
    text-decoration: none;
}

.gris{
    background-color: rgb(159, 150, 150);
}
.margen{
    border: #fff solid 3px;
   
    padding: 30px;
}
.tamaño{
    font-size: 100px;
}
.letra2{
    color: black;
}